@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

:root {
    --background: hsla(206, 50%, 73%, 1);
    --form-card: hsla(0, 0%, 98%, 1);
    --shadow-color: hsla(0, 0%, 25%, 0.25);
    --accent: hsla(206, 100%, 46%, 1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--background);
}

.container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.task-container {
    box-shadow: 0 4px 8px 0 var(--shadow-color),
        0 6px 20px 0 var(--shadow-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
}

.info-container {
    width: 100%;
    word-wrap: break-word;
}

.button-container {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.button-container button {
    border: none;
    width: 5.25rem;
    height: 2.25rem;
    margin: 0.75rem 1rem 0 0;
    border-radius: 5px;
    color: aliceblue;
    background-color: var(--accent);
    font-weight: 600;
    cursor: pointer;
}

.form-container {
    background-color: var(--form-card);
    padding: 2rem 3rem;
    box-shadow: 0 4px 8px 0 var(--shadow), 0 6px 20px 0 var(--shadow);
    border-radius: 10px;
    width: calc(100% - 75px);
    max-width: 70rem;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container form input {
    border-radius: 5px;
    border: 2px solid var(--shadow-color);
    padding: 0 0 0 0.5rem;
    font-size: medium;
}

.form-container form textarea {
    width: 100%;
    resize: vertical;
    border-radius: 5px;
    border: 2px solid var(--shadow-color);
    padding: 0.25rem 0 0 0.5rem;
    margin: 0.75rem 0 0 0;
    font-size: small;
}

.form-container form button {
    border: none;
    color: aliceblue;
    background-color: var(--accent);
    font-weight: 600;
    cursor: pointer;
    width: 5.25rem;
    height: 2.25rem;
    border-radius: 5px;
    margin: 0.75rem 0 0 0;
}

@media (min-width: 430px) {
    .button-container {
        flex-direction: row;
        margin: 0.25rem 0 0.5rem 0;
    }
}
